@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-color: theme('colors.black');
  background-image: url('./assets/bg-pattern.png');
  background-position: center center;
  background-repeat: repeat;
  color: theme('colors.white');
}
